#authScreen{position:relative; z-index:5; display:flex; justify-content:center;}
#authScreen .card{max-width:340px; margin:80px auto 0;}

@media (max-width:359px){
  #authScreen .card{margin-top:40px;}
}
